# Mastercard and DTA to scope out digital ID service for age verification
### Mastercard wants to see how digital ID services can be scaled across Australia as it seeks accreditation under the Trusted Digital Identity Framework.

## Information:
+ Source: ZDNet
+ Link: [article](https://www.zdnet.com/article/mastercard-and-dta-to-scope-out-digital-id-service-for-age-verification/)
+ Date: September 27, 2021
+ Author: Aimee Chanthadavong


## Article:
Unknown

Mastercard and the Digital Transformation Agency (DTA) are working together to see how the former's digital identity service could enable Australians to digitally verify their age and identity.

As part of the collaboration, Mastercard said it would work with the DTA to examine a series of private sector-led pilots and the impact its digital verification service could have on retailer and consumer experiences and expectations online.

"Australians are increasingly expecting no disruptions between their online and physical lives, and identity is an area that must keep pace with those expectations. Public-private pilots have the potential to make it easier to use these verified identities securely, everywhere they travel," Mastercard Australasia division president Richard Wormald said.

Last year, Mastercard announced the quiet [expansion of the trial](https://www.zdnet.com/article/mastercard-expands-digital-id-trial-with-deakin-and-australia-post/) for its digital identification service, following the successful completion of phase one with partners Deakin University and Australia Post.

Announced in December, the three parties [kicked off two trials](https://www.zdnet.com/article/mastercard-joins-aussie-digital-id-market-with-deakin-and-australia-post-partnerships/): The first for an identity verification process of student registration and digital exams at Deakin's Burwood and Geelong campuses in Victoria, and the second integrating Mastercard's digital ID solution with the one the postal service has been working on.

The pilot saw students create a digital identity in Australia Post's Digital ID app and use it to gain access to Deakin University's exam portal. Mastercard said the ID successfully orchestrated the sharing of verified identity data between the two parties, sending only the specific personal information required to permit entry using its network.

The three organisations expanded the trial to verify students taking exams online.






The second phase of the trial built on work to integrate the Mastercard and Australia Post services, connecting with other third-party platforms to "extend the value and use of the service" to more providers and partner organisations in Mastercard's ID network.

A partnership with Optus was also launched around the same time. Under that trial, Optus customers could use Mastercard's ID service to prove their identity online and in-store. 

"Connecting with trusted third-party digital identity platforms is key to scaling digital identity more broadly. Without interoperability, it's very hard to build beyond local deployments," Wormald said.

"This is why Mastercard continues to collaborate with like-minded organisations, giving citizens new ways to verify their identity without having to hand over any physical documents or surplus information."

Additionally, Mastercard announced it has applied for accreditation under the Trusted Digital Identity Framework (TDIF), which sets out the operating model for digital identity in Australia. 

If granted, Mastercard said it would enable consumers to create a reusable digital identity using official identity documents, such as passports, driving licences, as well as protect digital identity data using encryption and facial biometrics.

In June, the Australian government published a [consultation paper on digital identity](https://www.zdnet.com/article/australia-to-open-digital-id-system-to-private-sector-with-consultation-on-new-legislation/) that indicated legislation would enter Parliament later this year to allow non-government entities to provide digital identification services to Australians.

Under the TDIF, the set of rules can only be applied to Australian government entities -- it can't be applied to states and territories, or to the private sector – which is why legislation is required.

The Digital Identity Legislation is hoping to ensure privacy safeguards are in place, such as limiting access to biometric information, but it will include the ability for users to consent to their biometric information being accessed for fraud or security investigations.

### Related Coverage

* [Eftpos sends connectID digital identity solution live](https://www.zdnet.com/article/eftpos-sends-connectid-digital-identity-solution-live/)
* [OCR Labs granted accreditation as first private 'trusted' government ID operator](https://www.zdnet.com/article/ocr-labs-granted-accreditation-as-first-private-trusted-government-id-operator/)
* [Australian ministers agree to work on national digital identity and data sharing](https://www.zdnet.com/article/australian-ministers-agree-to-work-on-national-digital-identity-and-data-sharing/)
* [Work on Australia-wide electronic birth certificate begins](https://www.zdnet.com/article/work-on-australia-wide-electronic-birth-certificate-begins/)
* [Commonwealth Bank proposes industry self-regulation for Australia-wide digital ID](https://www.zdnet.com/article/commonwealth-bank-proposes-industry-self-regulation-for-australia-wide-digital-id/)





#### Tags:
[[Mastercard]] [[Deakin]] [[ZDNet]]
